@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
    }

a:hover {
    text-decoration: none;
    color: #ff9900;
    text-shadow: 0 0 10px rgba(255, 153, 0, 0.8);
    transition: color 0.3s ease-in-out;
  }
  

  .bg-gray-100 {
    z-index: 10;
  }
  
  #nav-bar {
    transition: background-color 0.3s ease;
  }
  
  #nav-bar.scrolled {
    background-color: black;
  }
  
